<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title>微信登录页</title>
</head>
<body>
<div class="">
    <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxfa3d9ef86a840107&redirect_uri=REDIRECT_URI&response_type=code&scope=SCOPE&state=STATE#wechat_redirect"> </a>
</div>
</body>
</html>